body {
}

.Content{
    width:100%;
    background-color:rgb(255, 255, 255);
    margin-top:8px;
    margin-bottom:8px;
    min-height:400px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
